@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.era{
	font-variant: all-small-caps;
}

.signature{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: left;
}

i em,
em strong{
	font-style: normal;
}

#part-4 img{
	height: 4em;
	vertical-align: middle;
}

[epub|type~="dedication"] p{
	margin: auto;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
	max-width: 75%;
}

[epub|type~="preface"] footer + p{
	font-style: italic;
	margin-top: 1em;
	text-indent: 0;
}

[epub|type~="preface"] footer + p i{
	font-style: normal;
}

table{
	margin: 1em auto;
}

table thead{
	font-variant: small-caps;
	text-align: center;
}

table td{
	padding: .5em;
	vertical-align: top;
}

table td ol{
	margin: 0;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}
